# 제어문

In [1]:
# 단일 조건에 따른 분기

x = int(input('성적을 입력하세요'))

if x >= 90:
    print ("pass") # indentation

성적을 입력하세요 90

pass

In [2]:
# 단일 조건 및 그 외 조건에 따른 분기

x = int(input('성적을 입력하세요'))

if x >= 90:
    print ("Pass")
else: 
    print ("Fail")

성적을 입력하세요 40

Fail

In [3]:
# 여러 조건에 따른 분기
x = int(input('성적을 입력하세요'))

if x >= 90:
    print ("Pass")
elif (x >= 80) and (x < 90):
    print ("조건부 pass")
else: 
    print ("Fail")

성적을 입력하세요 87

조건부 pass

In [ ]:
x = 88

if(x >= 80) and (x < 90):
    print('조건부 pass')

''' 
긴 코드의 경우, 이렇게 단계적으로 분할을 해서 해석하는 것이 좋음
하나씩 가능한지 확인하기에 좋음 
'''

## 중첩 조건에 따른 분기
- 시나리오
- 90점 이상: 합격
- 100점 : 장학금 지급
- 80점 이상: 조건부 합격
- 그 외 탈락

In [ ]:
# 중첩 조건에 따른 분기 

x = int(input('성적을 입력하세요'))

if x >= 90:
    if x == 100:
        print ("장학금 지급")
    else:
        print ("Pass")
elif (x >= 80) and (x < 90):
    print ("조건부 pass")
else: 
    print ("Fail")

# 반복문

In [4]:
for i in range(3): # i는 임의의 변수
    print('안녕하세욤')

안녕하세욤
안녕하세욤
안녕하세욤

- 시퀀스 자료형이 range 대신에 들어감
- sequence는 순서가 있는 데이터 구조의 추상 클래스임

In [6]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [7]:
for i in my_list:
    print (i)

1
2
3

In [8]:
for i in my_string:
    print(i)

h
e
l
l
o

In [9]:
list (range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for문

In [13]:
x_list =['x1','x2']
y_list =['y1','y2']

for x in x_list:
    for y in y_list:
        print (x,y)
    print ('y 반복문 종료')

x1 y1
x1 y2
y 반복문 종료
x2 y1
x2 y2
y 반복문 종료

## 여러개의 리스트 다루기

In [15]:
names = ['James','Robert','Lisa','Mary']
scores = [95,96,97,94]

#idx : index 번호
for idx in range (len(names)):
    print(names[idx],scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

## list comprehension

In [16]:
numbers = [1,2,3,4,5]
result = []

for x in numbers:
    # print (x * 2)
    result.append (x*2)

print (result)

2
4
6
8
10
[2, 4, 6, 8, 10]

In [17]:
# 반복문을 한번에 처리하는 것

numbers = [1,2,3,4,5]
result2 = [x*2 for x in numbers]

print (result2)

[2, 4, 6, 8, 10]

In [18]:
numbers = [1,2,3,4,5,6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)

2
4
6

In [29]:
numbers = [1,2,3,4,5,6]
result2 = [x for x in numbers if x%2 == 0]

print (result2)

# numbers = [1,2,3,4,5,6]
# result2 = [x%2 == 0 for x in numbers]

# print (result2)
# 이렇게 하면 boolean이 나옴

[2, 4, 6]

## while 반복문
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석: 데이터 셋이 정해져 있음
  + 행, 열 고정 => 범위가 주어진 상태임 so 쓸 일이 많지 않음

In [30]:
i=0
total=0

while (total < 20):
    i = i + 1                   #==> i=0,==> i=1
    total = total + i           #==> total = 0+1 ==> 1
    print (i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [31]:
k=0

while True:
    k = k+1   # k는 1씩 증가
    print('안녕하세요')
    if (k > 3):
        print(k)
        break   # while / for-loop 문에 강제적으 종료시킬 때

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

# 사용자 정의 함수

In [32]:
def my_1st_func():
    print ('안녕하세요')
    print ('반갑습니다')

In [36]:
my_1st_func()

안녕하세요
반갑습니다

In [94]:
def my_friend(name):
    print(f"{name}는 나의 친구입니다.")
    print("{}는 나의 친구입니다.".format(name))

In [93]:
numbers = [1,2,3,4,5,6]
result = []
for x in numbers:
    my_1st_func()

안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다

## 문제

In [40]:
#1
a=10
b=5.5
print (type(a+b))

<class 'float'>

In [42]:
#2
a = '100'
b = 50
# type error
print (int(a)+b)

150

In [2]:
# #3
a = [1,2,3]
b = (4,5,6)
# print (a+b)
# # 출력 불가~

#list 로 변환
result = a + list(b)
print(result)

[1, 2, 3, 4, 5, 6]

In [3]:
#4
x = None
print(type(x))

<class 'NoneType'>

In [45]:
#5
a = 3
print (float(a))

3.0

In [6]:
#6
s = "Hello"
for i in range(3):
    print (s,type(s))

s = "Hello"
result = s * 3
print(result)
print(type(result))

Hello <class 'str'>
Hello <class 'str'>
Hello <class 'str'>
HelloHelloHello
<class 'str'>

In [49]:
#7
x = 7
print(str(x)+'3')

73

In [50]:
#8
a = True
b = False

print (a+b, type (a+b))

1 <class 'int'>

In [51]:
#9
a = 25
b = a // 0.5
print (b, type(b))

50.0 <class 'float'>

In [52]:
#10
text = '12345' 
print (int(text) + 10)

12355

In [54]:
#11
a = [10,20,30,40,50]
a[-1]
# 가장 큰 값을 찾는게 따로 있으려나?

50

In [56]:
#12  again
a = [1,2,3,4,5]
for i in a:

2
3
4
5
6

In [57]:
#13
a = (5,10,15,20)
a[1]

10

In [7]:
#14  again

a = (1,2,3)
b = (4,5,6)

print (a+b)

(1, 2, 3, 4, 5, 6)

In [8]:
#15 again
dict = {'a':1,
        'b':2,
        'c':3}
dict['b']=10
print (dict)

{'a': 1, 'b': 10, 'c': 3}

In [9]:
#16
dict = {'name':'Alice',
        'age':25,
        'city':'New York'}

dict.keys()

dict_keys(['name', 'age', 'city'])

In [78]:
#17
i=0
while (i<5):
    i=i+1
    print (i)

1
2
3
4
5

In [84]:
#18
i=11
while (i>1):
    i=i-1
    print(i)

10
9
8
7
6
5
4
3
2
1

In [86]:
#19
a = [2,4,6,8,10]

for i in a:
    print(i*2)

4
8
12
16
20

In [10]:
#20
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n