# 시리즈 수정/추가/ 삭제

In [2]:
import pandas as pd

data = [1000,2000,3000]
index = ['메로나','월드콘','와']

s=pd.Series(data,index)
s

메로나    1000
월드콘    2000
와      3000
dtype: int64

In [4]:
s.loc['메로나']=500
s

메로나      50
월드콘    2000
와      3000
dtype: int64

In [5]:
s.iloc[0]=500
s

메로나     500
월드콘    2000
와      3000
dtype: int64

In [6]:
s['메로나'] = 500
s

메로나     500
월드콘    2000
와      3000
dtype: int64

## 시리즈 연산

In [8]:
Carla = pd.Series([10,20,30],index=['NAVER','APPLE','NVIDIA'])
Elsa = pd.Series([10,30,20],index=['NVIDIA','NAVER','APPLE'])

# 보유하고 있는 숫자 계산
Carla + Elsa

APPLE     40
NAVER     40
NVIDIA    40
dtype: int64

- 같은 종류끼리 연산을 진행 / 따로 정렬할 필요 없이

In [9]:
Carla = pd.Series([10,20,30],index=['NAVER','APPLE','NVIDIA'])
Elsa = pd.Series([10,30,20],index=['TESLA','NAVER','APPLE'])

# 보유하고 있는 숫자 계산
Carla + Elsa

APPLE     40.0
NAVER     40.0
NVIDIA     NaN
TESLA      NaN
dtype: float64

- 각각 NVIDIA, TESLA 는 연산할 값이 하나가 NaN이라서 결과도 NaN으로 나옴

In [10]:
date = ["6/1", "6/2", "6/3", "6/4", "6/5"]
high = pd.Series([42800, 42700, 42050, 42950, 43000], index=date)
low = pd.Series([42150, 42150, 41300, 42150, 42350] , index=date)

diff = high - low
print(diff)

6/1    650
6/2    550
6/3    750
6/4    800
6/5    650
dtype: int64

In [14]:
diff.idxmax(),diff[diff.idxmax()]

('6/4', np.int64(800))

In [15]:
diff.idxmin(),diff[diff.idxmin()]

('6/2', np.int64(550))

In [13]:
diff.max()

np.int64(800)

In [16]:
profit = high / low # 단순 수익률 계산
profit

6/1    1.015421
6/2    1.013049
6/3    1.018160
6/4    1.018980
6/5    1.015348
dtype: float64

In [17]:
profit.cumprod() #누적곱  / 복리 개념

6/1    1.015421
6/2    1.028671
6/3    1.047351
6/4    1.067230
6/5    1.083610
dtype: float64

# 시리즈와 Map

In [21]:
# '1,234'의 형 변환 str-> int 로 
text = '1,234'
result = int(text.replace(',',''))
type(result),result

(int, 1234)

In [28]:
# 반복문 작성
num_str = ['1,234','5,678','12,345']
results = []
for num in num_str:
    temp = int(num.replace(',',''))
    results.append(temp)

results

[1234, 5678, 12345]

In [25]:
# 사용자 정의 함수를 작성함
def rm_comma(x):
    return int(x.replace(',',''))

In [26]:
s = pd.Series(['1,234','5,678','12,345'])
# int(s)
# type error 뜹니다~~
result = s.map(rm_comma) # map 에 다가 사용자 정의 함수를 만들어서 넣으면 반복문 없이 사용 가능
result

0     1234
1     5678
2    12345
dtype: int64

In [30]:
def remove_dollar_sign(x):
    return float(x.replace('$', '').replace(',', ''))
    
s = pd.Series(['$1,234.56', '$5,678.90', '$12,345.67'])

result = s.map(remove_dollar_sign)
result

0     1234.56
1     5678.90
2    12345.67
dtype: float64

### 문제
- 기준점 13 이상
  + 크다 or 작다

In [31]:
s = pd.Series([5,10,15,20])
s

0     5
1    10
2    15
3    20
dtype: int64

In [42]:
def filter(x): 
    if x > 13:
        # print('13보다 크당') 
    else:
        # print('13보다 작당')

In [43]:
result = s.map(filter)
result

13보다 작당
13보다 작당
13보다 크당
13보다 크당

0    None
1    None
2    None
3    None
dtype: object

In [44]:
def is_greater_13(x): 

    return_text = None
    if x >= 13:
        return "크다"
    else:
        return "작다" 

s = pd.Series([10, 15, 7, 20, 13])
s.map(is_greater_13)

0    작다
1    크다
2    작다
3    크다
4    크다
dtype: object

In [46]:
result = s.map(lambda x:'크다'if x >=13 else '작다' )
result

0    작다
1    크다
2    작다
3    크다
4    크다
dtype: object

In [47]:
result = s.apply(lambda x:'크다'if x >=13 else '작다' )
result

0    작다
1    크다
2    작다
3    크다
4    크다
dtype: object

## 필터링

In [53]:
data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
s = pd.Series(data=data, index=index)
s

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [54]:
cond = s > 42000
print(cond)

2019-05-31     True
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [56]:
s[cond]

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [57]:
s[s>42000]

2019-05-31    42500
2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [59]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

open = pd.Series(data=open, index=index)
close = pd.Series(data=close, index=index)

In [60]:
# 종가가 시가보다 높은 날을 구하세욤
cond = close - open > 0
print(cond)
# close > open

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28    False
2019-05-27     True
dtype: bool

In [63]:
close[close - open > 0]
# close[close > open]

2019-05-30    42550
2019-05-27    42650
dtype: int64